<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- footer -->
    <section class="section footer-landing pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-info">
                        <img alt="" class="logo-light" height="100" th:src="@{/assets/images/sidebar/manstore-logo1.png}">
                        <img alt="" class="logo-dark" height="100" th:src="@{/assets/images/sidebar/manstore-logo1.png}">
                        <p class="footer-desc mt-4 mb-2 me-3">Manstore mang đến trải nghiệm thời trang công sở tốt nhất
                            cho nam với mức giá tốt nhất. Chúng tôi theo đuổi phương pháp thời trang mới để mang lại cảm
                            giác cao cấp nhất.</p>

                        <div class="footer-social mt-4">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="text-reset" th:href="@{#!}"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-reset" th:href="@{#!}"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-reset" th:href="@{#!}"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-reset" th:href="@{#!}"><i class="mdi mdi-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row ps-0 ps-lg-3">
                        <div class="col-md-3">
                            <div class="mt-lg-0 mt-4">
                                <h5 class="footer-title">Thông tin</h5>
                                <ul class="list-unstyled footer-link mt-3">
                                    <li><a th:href="@{#!}">Trang chủ</a></li>
                                    <li><a th:href="@{#!}">Sản phẩm</a></li>
                                    <li><a th:href="@{#!}">Giới thiệu</a></li>
                                    <li><a th:href="@{#!}">Hỏi đáp</a></li>
                                    <li><a th:href="@{#!}">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-lg-0 mt-4">
                                <h5 class="footer-title">Tài khoản</h5>
                                <ul class="list-unstyled footer-link mt-3">
                                    <li><a th:href="@{#!}">Đăng kí</a></li>
                                    <li><a th:href="@{#!}">Đăng nhập</a></li>
                                    <li><a th:href="@{#!}">Tài khoản</a></li>
                                    <li><a th:href="@{#!}">Giỏ hàng</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mt-lg-0 mt-4">
                                <h5 class="footer-title">Thông tin liên hệ</h5>
                                <ul class="list-unstyled footer-link mt-3">
                                    <li><h5 class="text-white text-muted">Website bán áo sơ mi nam ManStore</h5>
                                    </li>
                                    <li><p class="text-white text-muted"><i class="mdi mdi-map-marker me-1"></i>13 P.
                                        Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội</p></li>
                                    <li><p class="text-white text-muted"><i class="mdi mdi-phone me-1"></i>0809.402.713
                                    </p></li>
                                    <li><p class="text-white text-muted"><i class="mdi mdi-email me-1"></i>support@manstore.com
                                    </p></li>
                                    <li><p class="text-white text-muted"><i class="mdi mdi-web me-1"></i>www.manstore.com
                                    </p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer-border-alt mt-4 align-items-center fs-15">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script>
                    © Cao đẳng FPT Polytechnic
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a th:href="@{#!}"><img alt="" height="30"
                                                        th:src="@{/assets/images/ecommerce/payment/visa.png}"></a>
                            </li>
                            <li class="list-inline-item">
                                <a th:href="@{#!}"><img alt="" height="30"
                                                        th:src="@{/assets/images/ecommerce/payment/discover.png}"></a>
                            </li>
                            <li class="list-inline-item">
                                <a th:href="@{#!}"><img alt=""
                                                        height="30"
                                                        th:src="@{/assets/images/ecommerce/payment/american-express.png}"></a>
                            </li>
                            <li class="list-inline-item">
                                <a th:href="@{#!}"><img alt="" height="30"
                                                        th:src="@{/assets/images/ecommerce/payment/paypal.png}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>