<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <title>Manstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Toner - eCommerce + Admin HTML Template Build with HTML, React, Laravel, Nodejs" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/imgIcon.png}">

    <link rel="stylesheet" th:href="@{/assets/libs/swiper/swiper-bundle.min.css}">

    <!-- Bootstrap Css -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link th:href="@{/assets/css/custom.min.css}" rel="stylesheet" type="text/css">

</head>