<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none">
<head th:replace="admin/fragments/head::head"></head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<body>

<!-- Begin page -->
<div id="layout-wrapper">
  <div th:replace="admin/fragments/header::header"></div>
  <!-- ========== App Menu ========== -->
  <div th:replace="admin/fragments/sidebar::sidebar"></div>
  <!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">Chất Liệu</h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Chất Liệu</a></li>
                  <li class="breadcrumb-item active">Danh Sách Chất Liệu</li>
                </ol>
              </div>

            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-lg-12">
            <div class="card" id="invoiceList">
              <div class="card-header border-0">
                <div class="d-flex align-items-center">
                  <h5 class="card-title mb-0 flex-grow-1">Chất Liệu</h5>
                  <div class="flex-shrink-0">
                    <div class="d-flex gap-2 flex-wrap">
                      <button class="btn btn-danger btn-icon" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                      <a class="btn btn-primary w-100 add-btn" th:href="@{/admin/material/add}">Thêm Mới</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body bg-soft-light border border-dashed border-start-0 border-end-0">
                <form>
                  <div class="row g-3">
                    <div class="col-xxl-3 col-sm-12">
                      <div class="search-box">
                        <input type="text" class="form-control search bg-light border-light" placeholder="Search..." id="search-input" onkeyup="searchMaterial()">
                        <i class="ri-search-line search-icon"></i>
                      </div>
                    </div>
                  </div>
                  <!--end row-->
                </form>
              </div>
              <div class="card-body">
                <div>
                  <div class="gridjs-border-none mb-4">
                    <table class="table align-middle table-nowrap" id="invoiceTable">
                      <thead class="text-muted">
                      <tr>
                        <th>#</th>
                        <th>Mã</th>
                        <th>Tên Chất Liệu</th>
                        <th>Mô Tả</th>
                        <th>Hành Động</th>
                      </tr>
                      </thead>
                      <tbody class="list form-check-all" id="list_material">

                      </tbody>
                    </table>
                    <div class="row">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-1"></div>
                      <div class="col-lg-4">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center" id="pagination">
                          </ul>
                        </nav>
                      </div>
                      <div class="col-lg-3"></div>
                      <div class="col-lg-1"></div>
                    </div>
                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Chi Tiết Chất Liệu</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form id="sizeForm" action="" class="my-form" method="post" th:object="${chatLieus}">
                            <div class="card">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="mb-3">
                                      <label for="material-ma-input" class="form-label">Mã</label>
                                      <input type="text" id="material-ma-input" class="form-control" required th:name="ma" readonly />
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="mb-3">
                                      <label for="material-name-input" class="form-label">Tên Chất Liệu</label>
                                      <input type="text" id="material-name-input" class="form-control" required th:name="ten" readonly />
                                    </div>
                                  </div>
                                  <div class="col-lg-12">
                                    <div class="mb-3">
                                      <label class="form-label" for="material-mota-input">Mô Tả</label>
                                      <textarea type="text" class="form-control" id="material-mota-input" th:name="moTa" readonly></textarea>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                              <!-- <button type="button" class="btn btn-primary" onclick="showConfirmPopup()">Lưu</button> -->
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end modal -->
                </div>
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Chi Tiết Chất Liệu</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form id="update-form" action="" class="my-form" method="post" th:object="${chatLieus}">
                          <div class="card">
                            <div class="card-body">
                              <div class="row ">
                                <div class="col-lg-6">
                                  <div class="mb-3">
                                    <label for="material-ma1-input" class="form-label">Mã</label>
                                    <input type="text" id="material-ma1-input" class="form-control" required th:name="ma" readonly/>
                                    <span id="errorMa" class="text-danger" style="display:none;"></span>
                                  </div>
                                </div>
                              </div>
                              <div class="row ">
                                <div class="col-lg-6">
                                  <div class="mb-3">
                                    <label for="material-name1-input" class="form-label">Tên Chất Liệu</label>
                                    <input type="text" id="material-name1-input" class="form-control" required th:name="ten"/>
                                    <span id="errorName" class="text-danger" style="display:none;"></span>
                                  </div>
                                </div>
                              </div>
                              <!-- end row -->

                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="mb-3">
                                    <label class="form-label" for="material-mota1-input">Mô Tả</label>
                                    <textarea type="text" class="form-control" id="material-mota1-input" th:name="moTa"></textarea>
                                    <span id="errorDescription" class="text-danger" style="display:none;"></span>
                                  </div>
                                </div>
                              </div>
                              <!--end row-->
                              <!-- end col -->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                              <button type="button" id="btnthem" class="btn btn-primary" onclick="showConfirmPopup('update-form')">Lưu</button>
                            </div>
                            <!-- end row -->
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!--end modal -->
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div><!-- container-fluid -->
      </div>
      <!-- End Page-content -->
    </div>
    <!-- end main content-->
  </div>
</div>
<!-- END layout-wrapper -->
<div th:replace="admin/fragments/themeSettings::themeSettings"></div>
<div th:replace="admin/fragments/script::script"></div>
</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript">

    window.onload = function () {
        loadPage();
    }

    async function loadPage(pageNumber = 0, pageSize = 3) {
        try {
            const response = await fetch(`http://localhost:8080/admin/material/list?page=${pageNumber}&size=${pageSize}`);
            if (!response.ok) {
                throw new Error(`Lỗi HTTP! trạng thái: ${response.status}`);
            }

            const result = await response.json();
            const list = result.content;

            if (!Array.isArray(list)) {
                throw new Error('Cấu trúc dữ liệu không hợp lệ: list không phải là một mảng');
            }

            let main = '';
            list.forEach((item, index) => {
                main += `<tr>
                <td>${index + 1}</td>
                <td>${item.ma}</td>
                <td>${item.ten}</td>
                <td>${item.moTa}</td>
                <td>
                    <div class="hstack gap-3 flex-warp">
                        <div onclick="detailMaterial(${item.id})" class="ri-eye-2-line"></div>
                        <div onclick="editMaterial(${item.id})" class="link-info fs-15"><i class="ri-edit-2-line"></i></div>
                    </div>
                </td>
            </tr>`;
            });
            document.getElementById("list_material").innerHTML = main;

            // Generate pagination
            let totalPages = result.totalPages;
            let pagination = `<div class="pagination-wrap hstack gap-2">
            <button class="page-item pagination-prev" id="pagination-prev" onclick="loadPage(${pageNumber - 1 < 0 ? 0 : pageNumber - 1})">
                <i class="mdi mdi-chevron-left align-middle ms-1"></i>
            </button>
            <ul class="pagination">`;

            for (let i = 0; i < totalPages; i++) {
                pagination += `<li class="page-item ${i === pageNumber ? 'active' : ''}"><a class="page-link" onclick="loadPage(${i})">${i + 1}</a></li>`;
            }

            pagination += `</ul>
            <button class="page-item pagination-next" id="pagination-next" onclick="loadPage(${pageNumber + 1 >= totalPages ? totalPages - 1 : pageNumber + 1})">
                <i class="mdi mdi-chevron-right align-middle ms-1"></i>
            </button>
        </div>`;

            document.getElementById("pagination").innerHTML = pagination;

        } catch (error) {
            console.error('Lỗi khi tải trang:', error);
            document.getElementById("list_material").innerHTML = `<tr><td colspan="5">Lỗi khi tải dữ liệu: ${error.message}</td></tr>`;
        }
    }

    function showConfirmPopup(formId) {
        swal.fire({
            icon: 'question',
            title: "Bạn có muốn lưu thay đổi?",
            showCancelButton: true,
            confirmButtonText: "Có",
            cancelButtonText: "Không"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById(formId).submit();
            }
        });
    }

    function detailMaterial(materialId) {
        fetch(`/admin/material/detail/${materialId}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('material-ma-input').value = data.ma;
                document.getElementById('material-name-input').value = data.ten;
                document.getElementById('material-mota-input').value = data.moTa;
                $('#myModal').modal('show');
            })
            .catch(error => console.error('Error:', error));
    }

    function editMaterial(materialId) {
        fetch(`/admin/material/detail/${materialId}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('material-ma1-input').value = data.ma;
                document.getElementById('material-name1-input').value = data.ten;
                document.getElementById('material-mota1-input').value = data.moTa;
                document.getElementById('update-form').action = `/admin/material/update/${materialId}`;
                $('#myModal1').modal('show');
            })
            .catch(error => console.error('Error:', error));
    }

    var hasError = false;

    window.onload = function () {
        loadPage(0);
        validName();
        validMota();
    }

    $('#myModal1').on('hidden.bs.modal', function (e) {
        // Clear error messages
        document.getElementById('errorName').style.display = 'none';
        document.getElementById('errorDescription').style.display = 'none';
    });

    function validName() {
        var nameInput = document.getElementById('material-name1-input');
        var errorName = document.getElementById('errorName');
        nameInput.addEventListener('input', function () {
            var name = nameInput.value.trim();
            if (name === '') {
                errorName.textContent = '* Vui lòng nhập tên chất liệu!';
                errorName.style.display = 'block';
                hasError = true;
                document.getElementById("btnthem").disabled = true;
            } else {
                errorName.style.display = 'none';
                hasError = false;
                document.getElementById("btnthem").disabled = false;
            }
        });
    }

    function validMota() {
        var motaInput = document.getElementById('material-mota1-input');
        var errorDescription = document.getElementById('errorDescription');
        motaInput.addEventListener('input', function () {
            var moTa = motaInput.value.trim();
            if (moTa.length > 225) {
                errorDescription.textContent = '* Mô tả bạn nhập phải nhỏ hơn 225 ký tự!';
                errorDescription.style.display = 'block';
                hasError = true;
                document.getElementById("btnthem").disabled = true;
            } else {
                errorDescription.style.display = 'none';
                hasError = false;
                document.getElementById("btnthem").disabled = false;
            }
        });
    }

    async function searchMaterial(pageNumber) {
        var keyword = document.getElementById("search-input").value.trim().toLowerCase();
        var url;
        console.log(keyword);
        console.log(pageNumber);

        var page = pageNumber === undefined ? 0 : pageNumber;

        if (keyword === '') {
            loadPage(0);
            return;
        } else {
            var encodedKeyword = encodeURIComponent(keyword);
            url = "/admin/material/page/search/" + page + "/" + encodedKeyword;
        }
        console.log(url);

        try {
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
            });

            if (!response.ok) {
                throw new Error('Network response was not ok: ' + response.statusText);
            }

            const result = await response.json();
            console.log(result);

            // Kiểm tra và log toàn bộ cấu trúc dữ liệu trả về
            console.log('Full response data:', result);

            var list = result.content;
            var totalPage = (result.totalPages !== undefined && !isNaN(parseInt(result.totalPages, 10))) ? parseInt(result.totalPages, 10) : NaN;
            var number = (result.number !== undefined && !isNaN(parseInt(result.number, 10))) ? parseInt(result.number, 10) : NaN;
            var main = '';

            for (let i = 0; i < list.length; i++) {
                main += `<tr>
                    <td scope="row">${i + 1}</td>
                    <td>${list[i].ma}</td>
                    <td><strong>${list[i].ten}</strong></td>
                    <td>${list[i].moTa}</td>
                    <td>
                        <div class="hstack gap-3 flex-warp">
                            <div onclick="detailMaterial(${list[i].id})" class="ri-eye-2-line"></div>
                        </div>
                    </td>
                    <td>
                        <div onclick="editMaterial(${list[i].id})" class="link-info fs-15">
                            <i class="ri-edit-2-line"></i>
                        </div>
                    </td>
                </tr>`;
            }
            document.getElementById("list_material").innerHTML = main;

            if (!isNaN(number) && !isNaN(totalPage)) {
                var currentPage = `<div class="pagination-wrap hstack gap-2">
           <button class="page-item pagination-prev" id="pagination-prev" onclick="searchMaterial(${number - 1 < 0 ? totalPage - 1 : number - 1})">
           <i class="mdi mdi-chevron-left align-middle ms-1"></i> </button>
           <ul class="pagination listjs-pagination mb-0">`;

                for (let i = 0; i < totalPage; i++) {
                    currentPage += `<li class="${i === number ? 'active' : ''}"><a class="page" onclick="searchMaterial(${i})">${i + 1}</a></li>`;
                }

                currentPage += `</ul>
           <button class="page-item pagination-next" id="pagination-next" onclick="searchMaterial(${number + 1 >= totalPage ? 0 : number + 1})">
           <i class="mdi mdi-chevron-right align-middle ms-1"></i></button>
          </div>`;
                document.getElementById("pagination").innerHTML = currentPage;
            } else {
                console.error('Invalid pagination data:', { number, totalPage });
                alert('Dữ liệu phân trang không hợp lệ. Vui lòng kiểm tra lại.');
            }
        } catch (error) {
            console.error('Error during fetch:', error);
            alert('Có lỗi xảy ra trong quá trình tìm kiếm. Vui lòng thử lại sau.');
        }
    }





</script>
<script th:if="${updateSuccess == true}">
    swal.fire("Lưu thay đổi thành công!", "", "success");
</script>
<script th:if="${updateFailure == false}">
    swal.fire("Thay đổi chưa được lưu!", "", "error");
</script>
</html>
