<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none">
<head th:replace="admin/fragments/head::head"></head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<body>

<div id="layout-wrapper">
    <div th:replace="admin/fragments/header::header"></div>
    <div th:replace="admin/fragments/sidebar::sidebar"></div>
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Danh Sách Môn Thể Thao</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Môn Thể Thao</a></li>
                                    <li class="breadcrumb-item active">Danh Sách Môn Thể Thao</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row" id="orderList">
                    <div class="col-lg-12">
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <div class="row g-3">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive table-card mb-1">
                                    <table class="table table-striped tablefix">
                                        <thead class="thead-tablefix">
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên</th>
                                            <th>Mô tả</th>
                                            <th class="sticky-col text-center">Hành Động</th>
                                        </tr>
                                        </thead>
                                        <tbody id="listcategory">
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="Page navigation example" class="d-flex justify-content-center align-items-center">
                                    <ul class="pagination" id="pageable">
                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

    window.onload = function (){
        loadCategory(0);
    }
    var size = 10;
    async function loadCategory(page) {
        var url = '/admin/sport/findAll-page?page=' + page + '&size=' + size + '&sort=id,desc';
        const response = await fetch(url, {
            method: 'GET',
            headers: {
                'Authorization' : 'Bearer ' + localStorage.getItem('token')
            }
        });
        var result = await response.json();
        console.log(result)
        var list = result.content;
        var number = result.number;
        var totalPage = result.totalPages;
        var main = '';
        // <td><img src="${list[i].hinhAnh}" style="width: 100px"></td>
        for (i = 0; i < list.length; i++) {
            main += `<tr>
                    <td>${list[i].id}</td>
                    <td>${list[i].ten}</td>
                    <td>${list[i].moTa}</td>
                    <td class="sticky-col d-lg-flex justify-content-center align-items-center">
                        <a href="/admin/sport/add-sport?id=${list[i].id}"><i class="ri-edit-2-line"></i></a>
                    </td>
                </tr>`
        }
        document.getElementById("listcategory").innerHTML = main
        document.getElementById("pageable").innerHTML = `
                <div class="pagination-wrap hstack gap-2">
                       <button class="page-item pagination-prev" id="pagination-prev" onclick="loadCategory(${number === 0 ? totalPage - 1 : 0})"  >
                       <i class="mdi mdi-chevron-double-left align-middle ms-1"></i> </button>
                       <button class="page-item pagination-prev" id="pagination-prev" onclick="loadCategory(${number - 1 < 0 ? totalPage - 1 : number - 1})">
                       <i class="mdi mdi-chevron-left align-middle ms-1"></i> </button>
                       <ul class="pagination listjs-pagination mb-0"><li class="active"><a class="page">${number + 1}</a></li></ul>
                       <button class="page-item pagination-next" id="pagination-next" onclick="loadCategory(${number + 1 === totalPage ? 0 : number + 1})">
                       <i class="mdi mdi-chevron-right align-middle ms-1"></i></button>
                       <button class="page-item pagination-next" id="pagination-next" onclick="loadCategory(${number === totalPage - 1 ? 0 : totalPage - 1})">
                       <i class="mdi mdi-chevron-double-right align-middle ms-1"></i></button>
                </div>`;
    }

</script>
<div th:replace="admin/fragments/themeSettings::themeSettings"></div>
<div th:replace="admin/fragments/script::script"></div>
<div th:if="${message == true}">

    <script>
        Swal.fire({
            icon: 'success',
            title: 'Thêm thành công!',
        }).then(()=>{
            window.location.href = '/admin/sport';
        });
    </script>

</div>
</body>
</html>