<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none">
<head th:replace="admin/fragments/head::head"></head>
<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:replace="admin/fragments/header::header"></div>
    <!-- ========== App Menu ========== -->
    <div th:replace="admin/fragments/sidebar::sidebar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Thêm mới nhân viên</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{/admin/staff}">Nhân viên</a></li>
                                    <li class="breadcrumb-item active">Thêm nhân viên</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <form id="create-form" autocomplete="off" class="needs-validation" novalidate method="post"
                      th:action="@{/admin/staff/add}" th:object="${nhanVien}">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="staff-name-input">Họ tên <span
                                                    style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="staff-name-input"
                                                   placeholder="Họ tên" required th:field="*{ten}"
                                                   onkeyup="validName()">
                                            <div class="text-danger" th:if="${errorName}" th:text="${errorName}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="staff-birthday-input">Ngày sinh <span
                                                    style="color:red;">*</span></label>
                                            <input type="date" id="staff-birthday-input" class="form-control"
                                                   required th:field="*{ngaySinh}" onchange="validBirthday()"/>
                                            <div class="text-danger" th:if="${errorBirthday}"
                                                 th:text="${errorBirthday}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>
                                <!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="staff-phone-input">Số điện thoại <span
                                                    style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="staff-phone-input"
                                                   placeholder="Số điện thoại" required th:field="*{sdt}"
                                                   onkeyup="validPhone()">
                                            <div class="text-danger" th:if="${errorPhone}" th:text="${errorPhone}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="staff-email-input">Email <span
                                                    style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="staff-email-input"
                                                   placeholder="Email"
                                                   required th:field="*{email}" onkeyup="validEmail()">
                                            <div class="text-danger" th:if="${errorEmail}" th:text="${errorEmail}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="staff-adreess-input">Địa chỉ <span
                                                    style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="staff-adreess-input"
                                                   placeholder="Địa chỉ" required th:field="*{diaChi}">
                                            <div class="text-danger" th:if="${errorAdreess}" th:text="${errorAdreess}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label class="form-label" for="staff-position-input">Chức vụ <span
                                                        style="color:red;">*</span></label>
                                                <select class="form-control" required id="staff-position-input"
                                                        th:field="*{idPhanQuyen}">
                                                    <option value="0">Chức vụ</option>
                                                    <option th:each="position:${chucVu}" th:value="${position.id}"
                                                            th:text="${position.ten}"></option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="form-label">Giới tính <span
                                                        style="color:red;">*</span></label>
                                                <br>
                                                <input class="form-check-input" type="radio" id="nam" value="0"
                                                       th:name="gioiTinh" checked="checked">
                                                <label class="form-check-label" for="nam">Nam</label>

                                                <input class="form-check-input" type="radio" value="1" id="nu"
                                                       th:name="gioiTinh">
                                                <label class="form-check-label" for="nu">Nữ</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <div class="text-end mb-3">
                            <button type="button" class="btn btn-success w-sm" onclick="showConfirmPopup()">Thêm mới
                            </button>
                            <a th:href="@{/admin/staff}" class="btn btn-danger w-sm">Trở lại</a>
                        </div>
                    </div>
                    <!-- end col -->
                    <!-- end row -->
                </form>
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
</div>
<div th:replace="admin/fragments/themeSettings::themeSettings"></div>
<div th:replace="admin/fragments/script::script"></div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript">

    function showConfirmPopup() {
        swal.fire({
            icon: 'question',
            title: "Bạn Muốn Thêm Thêm Mới?",
            showCancelButton: true,
            confirmButtonText: "Thêm",
            cancelButtonText: "Quay Về"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('create-form').submit();
            }
        });
    }

    function validName() {
        var nameInput = document.getElementById('staff-name-input');
        var errorName = document.getElementById('errorName');
        console.log(nameInput);
        nameInput.addEventListener('input', function () {
            if (nameInput.value.trim() !== '') {
                errorName.style.display = 'none';
            } else {
                errorName.style.display = 'block';
            }
        });
    }

    function validPhone() {
        var phoneInput = document.getElementById('staff-phone-input');
        var errorPhone = document.getElementById('errorPhone');
        console.log(phoneInput);
        phoneInput.addEventListener('input', function () {
            if (phoneInput.value.trim() !== '') {
                errorPhone.style.display = 'none';
            } else {
                errorPhone.style.display = 'block';
            }
        });
    }

    function validEmail() {
        var emailInput = document.getElementById('staff-email-input');
        var errorEmail = document.getElementById('errorEmail');
        console.log(emailInput);
        if (emailInput.value.trim() !== '') {
            errorEmail.style.display = 'none';
        } else {
            errorEmail.style.display = 'block';
        }

    }

    function validBirthday() {
        var birthdayInput = document.getElementById('staff-birthday-input');
        var errorBirthday = document.getElementById('errorBirthday');
        console.log(birthdayInput);
        if (birthdayInput.value.trim() !== '') {
            errorBirthday.style.display = 'none';
        } else {
            errorBirthday.style.display = 'block';
        }
    }

</script>
<script th:if="${message == true}">
    swal.fire("Thêm thành công!", "", "success").then(() => {
        window.location.href = '/admin/staff';
    });
</script>
</body>
</html>